/* GENERAL */
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: #000101;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px;
}

header h1{
    margin-bottom: 5px;
    font-size: 2.5rem;
}

header p{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

h4 {
    text-decoration: underline;
    text-decoration-color: black;
}

footer{
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    margin-top: auto;
    border-top: 1px solid #181818;
}

/* NAVBAR */
.logo{
    height: 40px;
    width: auto;
    margin-right: 20px;
}

.navbar {
    width: 100%;
    background-color: #efc865;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    font-size: 1.05rem;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: rgb(8, 66, 66);
    font-weight: bold;
    transition: all 0.3s;
    padding: 8px 15px;
    border-radius: 8px;
    display: inline-block;
    transform-origin: center;
}

.navbar a:hover {
    color: #efc865;
    background-color: #06314c;
    transform: scale(1.08);
}

/* INDEX */
.img-index {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 50px 50px;
    text-align: justify;
    flex-wrap: wrap;
    flex: 1;
}

.index-info h2 {
    font-size: 3.5rem;
    margin-bottom: 18px;
}

.index-info p, .boton{
    font-size: 1.3rem;
    color: white;
}

.boton{
    color: #efc865;
}

.header-index{
    text-align: center;
    padding: 27px 0;
    background-color: transparent;
    color: #efc865;
}

.header-index h1{
    font-size: 3.5rem;
}

.index-info {
    padding: 30px;
    max-width: 750px;
    border-radius: 15px;
}

/* INFO */
.header-info{
    margin: 50px;
    color: white;
    text-align: center;
}

.header-info h1{
    font-size: 3.8rem;
}

.header-info p{
    font-size: 1.8rem;
}

.img-info{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.titulo-info{
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-size: 2.3rem;
}

.post1, .post2, .post3, .post4 {
    padding: 50px 60px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
    font-size: 1.2rem;
}

.post1 > * , .post2 > *, .post3 > *, .post4 > * {
    max-width: 750px;
    margin: 0 auto;
}

.post1{
    background-color: #000101;
    color: #ffffff;
}

.post2{
    background-color: #f4f5f6;
    color: #000000;
}

.post3{
    background-color: #000101;
    color: #ffffff;
}

.post4{
    background-color: #f4f5f6;
    color: #000000;
}

.post1 ul, .post2 ol, .post3 ol, .post4 ul {
    padding-left: 50px;
}


/* ANALISIS */
.tabla {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
}

.tabla h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #efc865;
}

.tabla table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

.tabla th, .tabla td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.tabla th {
    background-color: #06314c;
    color: white;
}

.tabla tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

.tabla tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.tabla tbody tr:hover {
    background-color: #3d3d3d;
    color: #efc865;
    transition: all 0.3s ease;
}

.tabla td {
    transition: all 0.3s ease;
}

.futuro {
    padding: 50px 60px;
    margin: 20px auto;
    max-width: 1000px;
    width: 90%;
    box-sizing: border-box;
    text-align: justify;
    color: white;
}

.futuro h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 2rem;
    color: #efc865;
}

.futuro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.futuro ul {
    padding-left: 40px;
    margin-bottom: 20px;
}

.futuro li {
    margin-bottom: 12px;
    font-size: 1.2rem;
}

.resaltar{
    color: #ffe23b;
    margin-top: 90px;
}

/* CREADORA */
.creadora {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

.creadora-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.creadora-imagen h2{
    margin-top: 20px;
    color: #efc865
}

.foto-creadora {
    max-width: 375px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.foto-creadora:hover {
    transform: scale(1.1);
}

.creadora-texto {
    max-width: 600px;
    color: white;
    text-align: justify;
    font-size: 1.3rem;
    margin-bottom: 90px;
}